<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <title>Adrequest</title>
</head>
<body>

    <div class="container mt-3 pt-3" style="box-shadow: 0px 0px 20px rgba(0,0,0.1);  border-radius: 8px; background-color: white; min-height: 700px; " >
    
      {% include 'nav_influ.html' %}


      <div class="container">
        <div class="tab-content">
<!------------------------------------- Ad Requests Tab ------------------------------->

            <div class="tab-pane fade show active" id="adRequests">
                <h2>Ad Requests</h2>
                {% for req in adrequest %}
                <div class="card">    
                    <div class="card-header">
                        Ad Request {{ loop.index }}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Campaign: {{req.campaign.name}}</h5>
                        <p class="card-text">Requirements: {{req.requirements}}</p>
                        <p class="card-text">Payment Amount: {{req.payment_amount}}</p>

                        {% if req.status == "Pending" %}
                            <div class="btn-group" role="group">
                                <form action="{{ url_for('accept_ad_request', ad_request_id=req.id,id=user.id) }}" method="POST" class="d-inline">
                                    <button type="submit" class="btn btn-success mr-2">Accept</button>
                                </form>
                                <form action="{{ url_for('reject_ad_request', ad_request_id=req.id,id=user.id) }}" method="POST" class="d-inline">
                                    <button type="submit" class="btn btn-danger mr-2">Reject</button>
                                </form>
                            </div>
                        {% endif %}


                        {% if req.status == "Accepted" %}
                            <button class="btn btn-success">Accepted</button>
                        {% endif %}

                        
                        {% if req.status == "Rejected" %}
                        <div class="btn-group" role="group">
                            <form  class="d-inline">
                                <button  class="btn btn-secondary" style="margin-right: 20px;">Rejected</button>
                            </form>
                            <form action="{{ url_for('reject_ad_request', ad_request_id=req.id,id=user.id) }}" method="POST" class="d-inline">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                        
                        {% endif %}

                    </div>


                </div>
                {% endfor %}

            </div>

        </div>
      </div>
      
    </div>



</body>
</html>