<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <title>Influencer Engagment and Sponsorship Platform</title>
</head>

<body>
  <div class="container text-center " style="margin-top: 150px;">
    <h1>Welcome to Influencer Engagement & Sponsorship <br> Coordination Platform</h1>
    <p>Please select your login option:</p>
    <div class="row mt-4">
      <div class="col-md-6">
        <a href="/admin" class="btn btn-primary btn-lg btn-block">Admin Login</a>
      </div>
      <div class="col-md-6">
        <a href="/user" class="btn btn-success btn-lg btn-block">User Login</a>
      </div>
    </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>